<div class="page-body">
  <h2>Remove items from the inventory</h2>

  <div class="cooking-items-container">
    @for (item of itemsToBeRemoved; track item) {
      <div class="cooking-item">
        <app-inventory-search-input
          (inventoryItemSelected)="onInventoryItemSelected(item, $event)"
          (newInventoryItemSelected)="onInvalidItemSelected(item)"
        />
        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <input matInput type="number" min="1" [(ngModel)]="item.quantity">
        </mat-form-field>
      </div>
      @if (!item.valid) {
        <mat-error>This isn't a valid item</mat-error>
      }
    }
  </div>
  <button matButton="filled" (click)="onSubmit()">Remove these items from inventory</button>
</div>