
@use '@angular/material' as mat;

.understocked-icon {
  @include mat.icon-overrides((
    color: red,
  ));
}

.expiring-soon-icon {
  @include mat.icon-overrides((
    color: orange,
  ));
}

// label {
//     border-radius: 15px;
//     padding: 5px;
//     display: flex;
//     align-items: center;
// }

.mat-expansion-panel-header-description {
  justify-content: end;
  align-items: center;
}