@use '@angular/material' as mat;

.actions-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inventory-search-form-field {
    width: 60vw;
}

.understocked-icon {
  @include mat.icon-overrides((
    color: red,
  ));
}

.expiring-soon-icon {
  @include mat.icon-overrides((
    color: orange,
  ));
}

.mat-expansion-panel-header-title {
  min-width: 150px;
}

.mat-expansion-panel-header-description {
  justify-content: end;
  align-items: center;
}