<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/inventory"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        >Inventory</a>
      <a
        mat-list-item
        routerLink="/cooking"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        >Cooking</a>
      <a
        mat-list-item
        routerLink="/shopping"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        >Shopping</a>
      <a
        mat-list-item
        routerLink="/settings"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        >Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Inventory Manager</span>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
