@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette
      ),
      typography: Roboto,
      density: 0,
    )
  );
  @include mat.system-classes();

  @include mat.theme-overrides((
    primary: #005bbf,
    on-primary: #ffffff,
    primary-container: #d7e2ff,
    on-primary-container: #001a40,
    inverse-primary: #acc7ff,
    primary-fixed: #d7e2ff,
    primary-fixed-dim: #acc7ff,
    on-primary-fixed: #001a40,
    on-primary-fixed-variant: #004492,
    secondary: #495e88,
    on-secondary: #ffffff,
    secondary-container: #d7e2ff,
    on-secondary-container: #001a40,
    secondary-fixed: #d7e2ff,
    secondary-fixed-dim: #b1c7f7,
    on-secondary-fixed: #001a40,
    on-secondary-fixed-variant: #30476f,
    tertiary: #82478f,
    on-tertiary: #ffffff,
    tertiary-container: #fdd6ff,
    on-tertiary-container: #340042,
    tertiary-fixed: #fdd6ff,
    tertiary-fixed-dim: #f4aeff,
    on-tertiary-fixed: #340042,
    on-tertiary-fixed-variant: #682e76,
    background: #fcf8f9,
    on-background: #1c1b1c,
    surface: #fcf8f9,
    surface-dim: #dcd9d9,
    surface-bright: #fcf8f9,
    surface-container-lowest: #ffffff,
    surface-container-low: #f6f3f3,
    surface-container: #f1eded,
    surface-container-high: #ebe7e7,
    surface-container-highest: #e5e2e2,
    on-surface: #1c1b1c,
    shadow: #000000,
    scrim: #000000,
    surface-tint: #5c5e66,
    inverse-surface: #313031,
    inverse-on-surface: #f3f0f0,
    outline: #76777c,
    outline-variant: #c6c6cc,
    neutral: #797777,
    neutral10: #1c1b1c,
    error: #ba1a1a,
    error-container: #ffdad6,
    on-error: #ffffff,
    on-error-container: #410002,
    surface-variant: #e2e2e8,
    on-surface-variant: #45474c,
    neutral-variant: #76777c,
    neutral-variant20: #2f3035,
    inverse-secondary: #b1c7f7,
    inverse-tertiary: #f4aeff,
  ));
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}

$dark-theme: (
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
);

@media (prefers-color-scheme: dark) {

  html {
    @include mat.theme($dark-theme);

    @include mat.theme-overrides((
      background: #333333, // content bg
      surface: #232324, // nav bar bg
      primary: #acc7ff,
      on-primary: #002e68,
      primary-container: #004492,
      on-primary-container: #d7e2ff,
      inverse-primary: #005bbf,
      primary-fixed: #d7e2ff,
      primary-fixed-dim: #acc7ff,
      on-primary-fixed: #001a40,
      on-primary-fixed-variant: #004492,
      secondary: #b1c7f7,
      on-secondary: #183057,
      secondary-container: #30476f,
      on-secondary-container: #d7e2ff,
      secondary-fixed: #d7e2ff,
      secondary-fixed-dim: #b1c7f7,
      on-secondary-fixed: #001a40,
      on-secondary-fixed-variant: #30476f,
      tertiary: #f4aeff,
      on-tertiary: #4f155d,
      tertiary-container: #682e76,
      on-tertiary-container: #fdd6ff,
      tertiary-fixed: #fdd6ff,
      tertiary-fixed-dim: #f4aeff,
      on-tertiary-fixed: #340042,
      on-tertiary-fixed-variant: #682e76,
      on-background: #e5e2e2,
      surface-dim: #131314,
      surface-bright: #3a3939,
      surface-container-lowest: #0e0e0f,
      surface-container-low: #1c1b1c,
      surface-container: #201f20,
      surface-container-high: #2a2a2a,
      surface-container-highest: #353435,
      on-surface: #e5e2e2,
      shadow: #000000,
      scrim: #000000,
      surface-tint: #c5c6cf,
      inverse-surface: #e5e2e2,
      inverse-on-surface: #313031,
      outline: #909095,
      outline-variant: #45474c,
      neutral: #797777,
      neutral10: #1c1b1c,
      error: #ffb4ab,
      error-container: #93000a,
      on-error: #690005,
      on-error-container: #ffdad6,
      surface-variant: #45474c,
      on-surface-variant: #c6c6cc,
      neutral-variant: #76777c,
      neutral-variant20: #2f3035,
      inverse-secondary: #495e88,
      inverse-tertiary: #82478f,
    ));
  }
}
